@import "tailwindcss";

@theme {
  --color-primary: #ffcb05;
  --color-second: #3d7dca;
  --color-third: #003a70;
  --color-normal: #A8A77A;
  --color-fire: #EE8130;
  --color-water: #6390F0;
  --color-electric: #dfbc39;
  --color-grass: #7AC74C;
  --color-ice: #97d4d2;
  --color-fighting: #b83e3a;
  --color-poison: #A33EA1;
  --color-ground: #E2BF65;
  --color-flying: #A98FF3;
  --color-psychic: #F95587;
  --color-bug: #A6B91A;
  --color-rock: #B6A136;
  --color-ghost: #735797;
  --color-dragon: #6F35FC;
  --color-dark: #705746;
  --color-steel: #B7B7CE;
  --color-fairy: #D685AD;
  --color-none: #BfBfBf;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
